<div class="flex flex-col w-full mt-[7.5rem] items-center gap-[7.375rem]">
  <div class="text-4xl w-[315px] font-semibold">What are you looking for?</div>

  <div class="flex flex-col gap-3 w-full">
    @for (item of goals; track item.id) {
    <sprk-onboarding-goals-item
      [text]="item.text"
      [iconUrl]="item.iconUrl"
      [isActive]="item.isActive"
      (click)="onToggleActive(item.id)"
    />
    }
  </div>
</div>

<div class="p-5 fixed bottom-0 left-0 right-0">
  <p-button
    [rounded]="true"
    styleClass="w-full"
    class="w-full"
    size="large"
    [label]="'Continue'"
    (onClick)="goToNextStep()"
  />
</div>
